body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #b43838;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  main {
    padding: 1rem;
  }
  
  #search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  #search-bar {
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: 300px;
  }
  
  #recipes {
    list-style-type: none;
    padding: 0;
  }
  
  #recipes li {
    margin-bottom: 0.5rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #ff7b00b4;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #24b300c7;
  }
  
